h1 {
    color: #f50a0a;
    font: italic;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-style: italic;
    align-items: center;
    text-align: center;
}

p {
    color: darkblue;
    font-style: oblique;
}

h5 {
    color: darkgreen;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-weight: lighter;

}